section.Errors {
    border: 1px solid;
    margin: 1em auto 0px;
    padding: 1vh 1vw;
    width: 80vw;
    max-width: 400px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: transparent;
    text-align: center;
}
